@{
    ViewData["Title"] = "Devices Page";
}

<div id="main">
    <div id="result"></div>
    <div class="tile">
        <h3>Count of Device Events Processed:</h3>
        <div id="queueLength">Loading..</div>
    </div>
    <div class="tile">
        <h3>Devices</h3>
        <ul id="deviceList"></ul>
    </div>
</div>

@section scripts
    {
    <script>

        $(function() {
            var path = window.location.pathname.replace(/\/+$/, "");
            var $result = $('#result');
            var refreshRate = 3000;

            function last(path) {
                var s = path.replace(/\/+$/, "").split('/');
                return s[s.length - 1];
            }

            refreshDeviceList = function(apiUrl, $deviceList) {
                $.ajax({
                    url: path + apiUrl,
                    method: 'GET',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (devices) {

                        //<a id="myLink" title="Click to do something" href = "#" onclick= "MyFunction();return false;" > link text</a >
                        var reportPath = '/' + '@ViewData["TargetSite"]' + '/run/report/parm/';

                        $deviceList.html('');

                        $deviceList.append(
                            '<h4>Last Posted Events By Device</h4>' +
                            '<hr>'
                        );

                        for (var i = 0; i < devices.length; ++i) {
                            var device = devices[i];

							$deviceList.append(
                                '<li><p>&nbsp;</p></li><li>' +
                                '<div class="deviceInfo">' +
                                '<h3>' + device.deviceId + '</h3>' + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="runReport" href="#" onclick="popitup(' + "'" + reportPath + device.deviceId + "','" + reportPath + device.deviceId + "');return false;" + '">View Report</a>' +
								'&nbsp;&nbsp;<label>Measurement Type:' + device.events[0].measurementType + '</label>' +
								'&nbsp;&nbsp;<label>Temperature:' + device.events[0].temperature +  '</label>' +
								'&nbsp;&nbsp;<label>Battery Level:' + device.events[0].batteryLevel +  '</label>' +
								'&nbsp;&nbsp;<label>Timestamp:' + device.events[0].timestamp +  '</label>' +
								'&nbsp;&nbsp;<label>Data Points Count:' + device.events[0].dataPointsCount +  '</label>' +
								'<ul class="deviceData">'
                            );

                            for (var index = 0; index < device.events.length; index++ ) {
                                var evt = device.events[index];

                                $deviceList.append(
									'<div class="deviceInfo"><legend><label>Sensor Index:&nbsp;' + evt.sensorIndex + '</label></legend>' +
                                    '<li><label>Frequency:</label>&nbsp;' + evt.frequency + '</li>' +
                                    '<li><label>Magnitude:</label>&nbsp;' + evt.magnitude + '</li>' +
                                    '</div>'
                                )
                            }
                            $deviceList.append(
                                '</ul></div>' +
                                '</li>'
                            );
                        }
                    },
                    error: function (error) {
                        $result.removeClass();
                        $result.addClass('errorResult');
                        $result.html('Failed to refresh info from [' + apiUrl + '] - Message[' + error.responseText + ']');
                    }
                })
                .always(function() {
                    setTimeout(function() {
                        $result.html('');
                        $result.removeClass();
                        refreshDeviceList(apiUrl, $deviceList);
                    }, refreshRate);
                });
            }

            refreshQueueLength = function(apiUrl, $queueElement) {
                $.ajax({
                        url: path + apiUrl,
                        method: 'GET',
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function (result) {
                            $queueElement.html(result);
                         },
                        error: function (error) {
                            window.location.href = error.responseText;
                        }
                })
                .always(function() {
                    setTimeout(function() {
                        $result.html('');
                        $result.removeClass();
                        refreshQueueLength(apiUrl, $queueElement);
                    }, refreshRate);
                });
            }

            refreshDeviceList('/deviceList', $('#deviceList'));
            refreshQueueLength('/queue/length', $('#queueLength'));

        });

        function popitup(url, windowName)
        {
            newwindow = window.open(url, windowName, 'height=1040,width=1300,location=no,menubar=no,status=no,toolbar=no,titlebar=no,left=50,top=50');
            if (window.focus) { newwindow.focus() }
            return false;
        }

    </script>
}
